*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #727E8C;
  height: 100vh;
}
.main{
  background-image: url("../img/login/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
  //---------------------------------
  &__row{
    font-family: 'IBM Plex Sans Regular 400', sans-serif;
    color: #475F7B;
  }
  //---------------------------------
  &__container{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.2rem;
    padding: 1rem;
  }
  &__content{
    display: flex;
    justify-content: center;
  }
  &__form{
    width: 50%;
  }
  //---------------------------------
  &__label{
    font-size: .9rem;
    display: inline-block;
  }
  &__input{
    font-size: 0.9rem;
  }
  &__btn{
    position: relative;
    background-color: #5A8DEE;
    color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    &-login{
      width: 100%;
    }
    &:hover{
      cursor: pointer;
      transform: translateY(-2px);
      box-shadow: 0 3px 5px 0 rgba(90,141,238,.5);
    }
    &>button>i{
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
    }
  }
}
//----------------------------------
.borderInput{
  border:1px solid #007bff;
  color:#007bff!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.paddingLabelIn{
  animation-name: labelIn;
  animation-duration: 0.5s;
  margin-left:0.2rem;
}
.paddingLabelOut{
  animation-name: labelOut;
  animation-duration: 0.5s;
  margin-left:1.75rem;
}
.paddingTextInputIn{
  animation-name: textInputIn;
  animation-duration: 0.2s;
  padding-left:1.25rem;
}
.paddingTextInputOut{
  animation-name: textInputIOut;
  animation-duration: 0.2s;
  padding-left:0.75rem;
}
@keyframes textInputIn {
  0%{
    padding-left: 0.75rem;
  }
  100%{
    padding-left: 1.25rem;
  }
}
@keyframes textInputIOut {
  0%{
    padding-left: 1.25rem;
  }
  100%{
    padding-left: 0.75rem;
  }
}
@keyframes labelIn {
  0%{
    margin-left: 1.75rem;
  }
  100%{
    margin-left: 0.2rem;
  }
}
@keyframes labelOut {
  0%{
    margin-left: 0.2rem;
  }
  100%{
    margin-left: 1.75rem;
  }
}