$red-main:#dc3545!important;
$gray-main:#eaedfe6e!important;
$grey-main:rgb(248, 249, 250) !important;
$white:#fff!important;
$blue-main:#4e66f8!important;
$blue-main-dark:#455cf5!important;
$blue-light:#eaedfe!important;
$text-secondary:#868e96!important;
$gray-dark:#343a40!important;
$dark-border:rgba(128, 128, 128, 0.623);